/* Pretendard */

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("subset-Pretendard-Bold.woff2") format("woff2"),
    url("subset-Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("subset-Pretendard-Regular.woff2") format("woff2"),
    url("subset-Pretendard-Regular.woff") format("woff");
}

/* 어비 미미 */

@font-face {
  font-family: "UhBeeMiMi";
  src: url("subset-UhBeeMiMi.woff2") format("woff2"),
    url("subset-UhBeeMiMi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
